<div class="navbar-top">
    <button>side menu</button>
    <span class="navbar-search">
        <input type="text"
            placeholder="search stuff here"
        > 
    </span>
    <span class='navbar-top-options'>
        <span class='navbar-top-option'>option 1</span>
        <span class='navbar-top-option'>option 2</span>
        <span class='navbar-top-option'>option 3</span>
        <span class='navbar-top-option'>option 4</span>
        <span class='navbar-top-option'>option 5</span>
    </span>
</div>

<div class="navbar-bottom">
    <span class='navbar-bottom-options'>
        <span class='navbar-bottom-option'>option 1</span>
        <span class='navbar-bottom-option'>option 2</span>
        <span class='navbar-bottom-option'>option 3</span>
        <span class='navbar-bottom-option'>option 4</span>
        <span class='navbar-bottom-option'>option 5</span>
        <span class='navbar-bottom-option'>option 6</span>
    </span>
</div>
