<div class="navbar-top">
    <button (click)="toggleSidebar()">side menu</button>
    <span class="navbar-search">
        <input type="text"
            placeholder="search stuff here"
        > 
    </span>
    <span class='navbar-top-options'>
        <button class='navbar-top-option'>option 1</button>
        <button class='navbar-top-option'>option 2</button>
        <button class='navbar-top-option'>option 3</button>
        <button class='navbar-top-option'>option 4</button>
        <button class='navbar-top-option'>option 5</button>
    </span>
</div>

<div class="navbar-bottom">
    <span class='navbar-bottom-options'>
        <button class='navbar-bottom-option'>option 1</button>
        <button class='navbar-bottom-option'>option 2</button>
        <button class='navbar-bottom-option'>option 3</button>
        <button class='navbar-bottom-option'>option 4</button>
        <button class='navbar-bottom-option'>option 5</button>
        <button class='navbar-bottom-option'>option 6</button>
    </span>
</div>

<app-sidebar class="active"></app-sidebar>
