<div
    id='sidebar'
    class="active"
    (click)="closeSidebar($event)"
>

  <select class="category-select">
    <option *ngFor="let cat of categories">
      {{cat.id}} {{ cat.name }}
    </option>
  </select>

  <div class="category-container" *ngFor="let cat of categories">
    <span 
    class="category collapsed" 
    (click)="toggleCategory($event)"
    data-id="{{cat.id}}"
    >
      {{ cat.name }}
    </span>
    <div class="sub-category-container">

      <li 
      class="sub-category" 
      *ngFor="let sub of cat['sub-categories']"
      data-id="{{sub.id}}"
      >
      {{sub.name}} 
    </li>
  </div>
  </div>
</div>
