$sidebarWidth: 300px; 

#sidebar {
    height: 100vh; 
    width: $sidebarWidth;  
    position: absolute; 
    left: -300px;
    top: 0px;
    margin: 0px; 
    background-color: goldenrod;
    transition: left 0.3s ease-in-out;
}



#sidebar.active {
    left: 0px; 
}

.category {
    border: 1px solid black;
    padding: 0px 10px; 
    display: inline-block;
}

.sub-category {
    padding: 0px 20px; 
}

.hidden {
    height: 0px; 
}