$sidebarWidth: 20vw; 

p {
    height: 100vh; 
    width: $sidebarWidth; 
    position: absolute; 
    left: -$sidebarWidth;
    top: 0px;
    margin: 0px; 
    background-color: goldenrod;
    }


.active {
    left: 0px; 
}